In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score

In [2]:
datos = pd.read_csv(filepath_or_buffer = "/Users/ninoj/Downloads/sucursales_base_datos.csv",index_col=0, encoding='latin-1')

In [3]:
datos

            nombre_sucursal                    ciudad     estado  ganancias
id_sucursal
1                  Realfire             San Cristobal        NaN   24351.94
2                  Edgeclub                 Nerchinsk        NaN   27031.62
3                   Wordify  Dusun Tengah Cihaurbeuti        NaN   25168.71
4                     Agivu                La Jicaral        NaN   18271.42
5                   Gabcube                    Nyanga        NaN   33665.42
...                     ...                       ...        ...        ...
996                  Kwideo                   Tubajon        NaN   21273.05
997                Riffpath                   Tongole        NaN   16665.61
998                   InnoZ                   Tangwei        NaN   30059.25
999                   Einti             Benito Juarez  Chihuahua   22834.73
1000                Dabvine                    Pampas        NaN   45756.59

[1000 rows x 4 columns]

In [5]:
datos.dtypes

nombre_sucursal     object
ciudad              object
estado              object
ganancias          float64
dtype: object

In [7]:
datos.describe()

         ganancias
count   1000.00000
mean   30489.76219
std    11414.10622
min    10078.64000
25%    20833.47250
50%    30355.19000
75%    40329.62250
max    49993.93000

In [8]:
datos.dtypes

nombre_sucursal     object
ciudad              object
estado              object
ganancias          float64
dtype: object

In [9]:
datos_nuevos = datos.loc[:,['nombre_sucursal','ciudad','ganancias']]

In [10]:
datos_nuevos

            nombre_sucursal                    ciudad  ganancias
id_sucursal
1                  Realfire             San Cristobal   24351.94
2                  Edgeclub                 Nerchinsk   27031.62
3                   Wordify  Dusun Tengah Cihaurbeuti   25168.71
4                     Agivu                La Jicaral   18271.42
5                   Gabcube                    Nyanga   33665.42
...                     ...                       ...        ...
996                  Kwideo                   Tubajon   21273.05
997                Riffpath                   Tongole   16665.61
998                   InnoZ                   Tangwei   30059.25
999                   Einti             Benito Juarez   22834.73
1000                Dabvine                    Pampas   45756.59

[1000 rows x 3 columns]

In [11]:
# Elimino registros con datos faltantes
datos_nuevos = datos_nuevos.dropna()

In [14]:
#Vamos a mostrar solo las sucursales que tengan un mayor ingreso a 20000 y menor a 35000
sucursales_filtradas = datos_nuevos[(datos_nuevos['ganancias'] > 20000) & (datos_nuevos['ganancias'] < 25000)]

In [15]:
print(sucursales_filtradas)

            nombre_sucursal            ciudad  ganancias
id_sucursal
1                  Realfire     San Cristobal   24351.94
8                     Roomm       Paitan Este   23771.53
10               Thoughtmix   Karangwungu Lor   22771.16
11                    Jazzy            Margos   22300.71
12                  Centizu           Aracruz   22575.67
...                     ...               ...        ...
929                 Skalith          Ventanas   24865.68
961                   Twiyo        Shepetivka   22738.30
977                Wordtune  Montfort-sur-Meu   21864.65
996                  Kwideo           Tubajon   21273.05
999                   Einti     Benito Juarez   22834.73

[116 rows x 3 columns]

In [17]:
sucursales_filtradas.to_csv('C:/Users/ninoj/Downloads/sucursales_filtradas_2024.csv', index=False)